.community-post {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 5px;
    width: 650px;
    border: 1px solid #2F2F2F;
    border-radius: 1%;
}

.community-post-left {
    height: fit-content;
}
.community-post-left h4 {
    background-color: #D9D9D9;
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
    margin: 8px;
}

.community-post-left h2 {
    margin: 8px;
}

.community-post-left h5 {
    margin: 8px;
}

.community-post-right {
    text-align: center;
}
.community-post-right h1, .community-post-right h4 {
    margin: 0px;
}