.header{
    display: flex;
    font-family: 'Cafe24Ssurround';
    justify-content: space-between;
}

.header-menu{
    display: flex;
    text-align: center;
}

.header-menu a {
    text-decoration-line: none;
    color: #2F2F2F;
}

.header-menu a.active .pinklogo {
    opacity: 1;
}

.header-menu-community{
    margin: 0px 45px 0px 65px;
    position: relative;
}

.header-menu-community h2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.header-menu-gallery{
    margin: 0px 65px 0px 65px;
    position: relative;
}

.header-menu-gallery h2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.header-menu-pets{
    margin: 0px 65px 0px 45px;
    position: relative;
}

.header-menu-pets h2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.header-menu-search{
    display: flex;
    margin: 10px 65px 0px 45px;
    max-height: auto;
    padding-top: 20px;
    color: #2F2F2F;
}

.pinklogo {
    opacity: 0;
    width: 62.58px;
    height: 51.2px;
}

#searchbox {
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #FFF0DE;
}

.header-menu-search h2 {
    background-color: #FFCDD2;
    margin: 0px 0px 0px 0px;
    height: 31px;
    width: 32px;
    border-radius: 100px;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}