.Main_post {
    display: flex;
    width: 800px;
    justify-content: space-between;
    font-family: 'Cafe24SsurroundAir';
    margin: 5px;
}

.Main_post h4 {
    margin: 5px;
}

.Main_post1 {
    display: flex;
}

.Main_post2 {
    display: flex;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
