.pets {
    text-align: center;
    justify-content: space-between;
    font-family: 'Cafe24Ssurround';
    color: #2F2F2F;
}

.addition h3 {
    margin: 0px;
}

.pets-share {
    display: flex;
    text-align: center;
}

.pets-heart-icon .pets-comment-icon .pets-share-icon {
    margin: 0PX;
}

.pets-share-icon a.onClick .Pets-share-screen {
    opacity: 1;
}

.Pets-share-screen {
    
}

.scroll {

}

.pets-up-arrow-icon .pets-down-arrow-icon {
    margin: 0px;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}